.flex-basis-demo-root {
  width: 350px;
  height: 300px;
  border: 1px solid;
  border-radius: 0.25rem;
  display: flex;
}


.flex-basis-demo-element {
  border: 1px solid;
  border-radius: 0.25rem;
}

.flex-basis-demo-element[direction=row] {
  width: 50px;
  min-height: 100%;
}

.flex-basis-demo-element[direction=column] {
  min-width: 100%;
  height: 50px;
}

.flex-basis-demo-element[direction=row]:first-child {
  background-color: yellow;
}

.flex-basis-demo-element[direction=column]:first-child {
  background-color: yellow;
}
