.flex-alignment-demo-root {
  display: flex;
  min-width: 100vw;
  min-height: 20rem;
}

.flex-alignment-demo-element {
  border: 1px solid;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin: 0.5rem;
}
