.grid-basic-demo-parent {
  display: grid;
  height: 300px;
  border: 2px solid;
  border-radius: 0.5rem;
}

.grid-basic-demo-children {
  display: flex;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: gray;
}
