// style.scss

button {
  color: red;
}

button {
  color: blue;
}

.my-element {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1rem + 3vw, 2rem);
}

.my-heading {
  color: red;
}

h1 {
  color: blue;
}
